<html>
    <head>
        <!-- <meta http-equiv="refresh" content="1"> -->
        <meta name="description" content="M&N Home CCTV">
        <meta name="author" content="Michael Lee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/get_cam_style.css">
        
        <title>M&N Home CCTV</title>
    </head>
    <body>
        <nav class="navbar p-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand ">
                    <span class="fs-4 text-white">M&N Home CCTV</span>
                </a>
                
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-light" type="button" onClick="location.href='/logout'">Logout</button>
                </div>
            </div>
        </nav>

        <img  class="img-fluid mx-auto d-block rounded my-3" src="/static/image/porsche.jpg">

        <div class="container">
            <div class="row align-items-center justify-content-evenly">
                <div class="col-3 col-md-5 col-lg-4 col-xl-3 text-center">
                    <button class='btn btn-outline-success' type="button" onClick="servo_center()">
                        Center
                    </button>
                </div>

                <div class="col-5 col-md-7 col-lg-6 col-xl-5 text-center">
                    <div class="row">
                        <div class="col">
                            <button class='btn btn-outline-success' type="button" onClick="servo_up()">
                                <span class="bi bi-arrow-up-circle"></span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class='btn btn-outline-success' type="button" onClick="servo_left()">
                                <span class="bi bi-arrow-left-circle"></span>
                            </button>
                        </div>

                        <div class="col">
                            <button class='btn btn-outline-success' type="button" onClick="servo_right()">
                                <span class="bi bi-arrow-right-circle"></span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class='btn btn-outline-success' type="button" onClick="servo_down()">
                                <span class="bi bi-arrow-down-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-3 col-md-5 col-lg-4 col-xl-3 text-center">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" onClick='get_degree(event)' checked>
                        <label class="form-check-label" for="exampleRadios1">
                            5&deg;
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" onClick='get_degree(event)'>
                        <label class="form-check-label" for="exampleRadios2">
                            10&deg;
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" onClick='get_degree(event)'>
                        <label class="form-check-label" for="exampleRadios3">
                            15&deg;
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" onClick='get_degree(event)'>
                        <label class="form-check-label" for="exampleRadios4">
                            20&deg;
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function servo_center() {
                fetch("/servo/center")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_right() {
                fetch("/servo/right")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_left() {
                fetch("/servo/left")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_up() {
                fetch("/servo/up")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_down() {
                fetch("/servo/down")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function get_degree() {
                var value = event.target.value;
                console.log(value)
            }
        </script>
    </body>
</html>