<html>
    <head>
        <title>Raspberry Camera</title>
        <style>
            img {
                width: 100%;
                border: 10px solid black;
            }
        </style>
    </head>
    <body>
        <center>
            <h3><img  class="camera-bg" style="width: 80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}"></h3>
        </center>
        <p>
        <center>
            <button class="favorite styled" type="button" onClick="location.href='/'">
                Back
            </button>
        </center>
    </body>
</html>