<html>
    <head>
        <!-- <meta http-equiv="refresh" content="1"> -->
        <meta name="description" content="M&N Home CCTV">
        <meta name="author" content="Michael Lee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
        <title>M&N Home CCTV</title>
        <style>
            img {
                width: 100%;
                border: 10px solid black;
            }
        </style>
    </head>
    <body>
        <nav class="navbar p-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand ">
                    <span class="fs-4 text-white">M&N Home CCTV</span>
                </a>
                
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-light" type="button" onClick="location.href='/logout'">Logout</button>
                </div>
            </div>
        </nav>

        <div>
            <center>
                <img  class="camera-bg" style="width: 80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}porsche.jpg">
            </center>
        </div>
        <p>

        <!-- <img  class="camera-bg" style="width: 80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}"> -->
        <!--
        <div>
            <center>
                
                <button type="button" onClick="location.href='/'">
                    Back
                </button>
            </center>
        </div>
        -->
        <div>
            <center>
                <button type="button" onClick="servo_up()">
                    Up
                </button>
                <p>
                <button type="button" onClick="servo_left()">
                    Left
                </button>
                <button type="button" onClick="servo_right()">
                    Right
                </button>
                <p>
                <button type="button" onClick="servo_down()">
                    Down
                </button>
            </center>
        </div>

        <script>
            function servo_right() {
                fetch("/servo/right")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_left() {
                fetch("/servo/left")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_up() {
                fetch("/servo/up")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }

            function servo_down() {
                fetch("/servo/down")
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                    });
            }
        </script>
    </body>
</html>