<html>
    <head>
        <!-- <meta http-equiv="refresh" content="1"> -->
        <meta name="description" content="M&N Home CCTV">
        <meta name="author" content="Michael Lee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/index_style.css/">
        
        <title>M&N Home CCTV</title>
    </head>

    <body>
        <nav class="navbar p-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand ">
                    <span class="fs-4 text-white">M&N Home CCTV</span>
                </a>
                
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-light" type="button" onClick="location.href='/logout'">Logout</button>
                </div>
            </div>
        </nav>
        
        <div class="d-grid gap-2 mx-auto col-10 col-md-6 col-lg-4 col-xl-3">
            <button class="btn btn-outline-light m-5 py-5" type="button" onClick="location.href='/get_cam'" id='n-btn'>
                Natalia Home CCTV
            </button>
        </div>
    </body>
</html>